html {
    background: #333;
    font-family: Menlo;
  }

  body {
    background-color: rgb(221, 205, 205);
  }
  
  #app {
    position: fixed;
    text-align: center;
    top: 1em;
    width: 100%;
  }
  
  .button {
    color: rgb(247, 233, 233);
    font-size: 500%;
    margin: 0 0.5em;
    text-decoration: none;
    background-color: rgb(113, 228, 228);
    padding-top: 0px; 
  }
  
  .button:first-child {
      margin-left: 0;
  }
  
  .button:last-child {
      margin-right: 0;
  }
  
  .button:hover {
    color: black;
  }
  
  .stopwatch {
    font-size: 20vw;
    height: 100%;
    line-height: 100vh;
    text-align: center;
  }
  
