body {
    background-color: rgb(221, 205, 205);
  }
  
  
  button {
    margin: 0 0.5em;
    width: 20%;
    height: 10%;
    padding: 0%;
    line-height: 0%;
  }
  
  button:first-child {
      margin-left: 0;
  }
  
  button:last-child {
      margin-right: 0;
  }
  
  button:hover {
    color: black;
  }
  
  h1 {
    font-size: 10vw;
    height: 50%;
    line-height: 40vh;
    text-align: center;
    padding: 0;
    margin: 0;
    
  }
  

